<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TankDeluxe3000</title>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <!-- JS -->
		<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
		<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
		
		<!-- CSS -->
		<link rel="stylesheet" th:href="@{/css/main.css}" />
		<link rel="stylesheet" href="/webjars/font-awesome/css/font-awesome.min.css"/>
		<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css"/>
        
    </head>
    <body>
        <div th:replace="header :: header"></div>
        
         <div class="container m-2">
        	<div class="row justify-content">
				<div>
					<div class="card">
						<h5 class="card-header">Bienvenue sur TankDeluxe3000, le meilleur jeu de tank sur navigateur !</h5>
       					<div class="card-body">
							<p>Description du jeu</p>
       					</div>
       				</div>
       			</div>
       		</div>
       	</div>
        
    </body>
</html>